html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

header {
  margin-top: none;
  height: max-content;
  background-color: #1343c9;
  display: flex;
  font-family: "Josefin Sans", sans-serif;
}

#name {
  color: whitesmoke;
  padding-left: 2rem;
  font-size: 5vh;
  margin: auto auto auto 1rem;
}

ul {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  width: 35vw;
  height: 10vh;
}

li {
  color: whitesmoke;
  display: flex;
  display: block;
  margin: auto auto;
  font-weight: 700;
  text-decoration: none;
  font-size: 3.5vh;
}

.nav-link {
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.nav-link:hover {
  color: rgb(141, 141, 141);
  cursor: pointer;
}

/*Home page*/

#hero {
  display: grid;
  height: fit-content;
  background-color: #4174ff86;
  margin: 20px;
  border-radius: 40px;
  font-family: "Righteous", sans-serif;
  grid-template-areas: 'text    text   image'
                      'buttons buttons   image' 
                      'buttons buttons image';
  gap: 10px;
  margin-bottom: 2rem;
}

.text {
  margin: 0.7em auto 0.1em 30px;
  color: #000000;
}

.intro {
  font-size: 7vh;
  margin: 0.7em auto 0.1em 60px;
  font-family: "Staatliches", sans-serif;
  grid-area: text;

}

#pfp{
  margin: 5vh ;
  width: 550px;
  height: 550px;
  border-radius: 50px;  
  grid-area: image;
  
}

.intro2 {
  grid-area: text;
  margin-top: 15vh;
  margin-left: 60px;
  font-weight: 500;

}

.intro3 {
  margin-left: 60px;
  font-weight: 500;
  padding-bottom: 40px;
  grid-area: text;
  margin-top: 21.5vh;

}

.btnContainer{
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 5vh;
}

.btns{
  padding: 20px 40px;
  cursor: pointer;
  margin-right: auto;
  background-color:#1343c9;
  color: #ffffff;
  border-radius: 30px;
  text-decoration: none;
  margin-bottom: 1vh;
  font-size: 1.5rem;
}
.btns:hover{
  background-color: #001aff;
}

.btns2{
  background-color: #40444b;
}

.btns2:hover{
  background-color: #262729;
}

/*About Page*/

#AboutHero {
  display: grid;
  height: fit-content;
  background-color: #4174ff86;
  margin: 20px;
  border-radius: 40px;
  font-family: "Righteous", sans-serif;
  grid-template-areas:' image text text text'
                      ' image text text text' 
                      ' image text text text';
  gap: 10px;
  margin-bottom: 2rem;
}

#aboutPic{
  border-radius: 40px;
  margin: 2rem;
  margin-right: 0px;
  grid-area: image;
}

#aboutTxt{
  grid-area: text;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 1rem 3rem 1rem 3rem;
}

#skillsSection{
  display: flex;
  flex-wrap: wrap
}

.skill{
  background-color: #b6b6b6c0;
  border-radius: 40px;
  display: flex;
  border:outset rgba(0, 0, 0, 0.466);
}

.skill:hover{
  background-color: #8d8d8dc0;
  color: white;
}

.icon{
  margin: 13px 20px;
  height: 3vw;
  width: 3vw;
  background-color: transparent;

}

.skill > p {
  color: rgb(0, 0, 0);
  margin: auto;
  margin-right: 13px;
  font-size: larger;
  font-weight: 500;
}


footer {
  background-color: #16161600;
  color: #000000;
  height: 74px;
  display: flex;
  align-items: center;
  margin-top: auto;
  font-weight: 700;
  width: fit-content;
  margin: auto;
  border-radius: 20px;
}

.belowLinks {
  margin: auto;
}

.belowLink {
  font-size: medium;
}

#footerLink {
  color: #006eff;
  text-decoration: none;
}

#copyright {
  justify-self: start;
  margin: auto auto auto 10px;
}

#footerLink:hover {
  color: #57a0ff;
  text-decoration: none;
}

@media (max-width:1540px){
  #hero{
    grid-template-areas: 'text    text   text'
    'image image   buttons' 
    'image image buttons';
  }
  ul {
    width: 60vw;
  }
  .btnContainer{
    margin-top: 10vh;
    justify-content: center;
    text-align: center;
  }

}
@media(max-width:1100px){
  #hero{
    display: block;
  }
  #pfp{
    width: 550px;
    height: 550px;
    border-radius: 50px;  
    grid-area: image;
    
  }
  
  .intro2 {
    grid-area: text;
    margin-left: 60px;
    font-weight: 500;
  
  }
  
  .intro3 {
    margin-left: 60px;
    font-weight: 500;
    grid-area: text;
  
  }
  
  .btnContainer{
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 5vh;
  }
  
}