html{
  box-sizing: border-box;
  text-align: center;
  font-optical-sizing: auto;
}
*{
  font-family: "Roboto", sans-serif;
}
header{
  margin-top: none;
  height: max-content;
  background-color: #1343c9;
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  
}

#name{
  color: whitesmoke;
  padding-left: 2rem;
  font-size: 5vh;
  margin: auto auto  auto 1rem;
}

ul{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  width: 35vw;
  height: 10vh;
}

li{
  color: whitesmoke;
  display: flex;
  display: block;
  margin:auto auto;
  font-weight: 700;
  text-decoration: none;
  font-size: 3.5vh;

}

.nav-link{
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.nav-link:hover {
  color: rgb(141, 141, 141); /* Text color on hover */

  cursor: pointer; /* Pointer cursor on hover */
}

#hero{

  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #4174ff86;
  margin: 20px;
  border-radius: 40px;
}

.text{
  margin: 0.7em auto 0.1em 30px;
  color:#000000;
}

.intro{
  font-size: 7vh;
  margin: 0.7em auto 0.1em 0.7em;
}

.intro3{
  padding-bottom: 40px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  background-color: #161616;
  color: #ffffff;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

.belowLinks{
  margin: auto;
}
.belowLink{
  font-size: medium ;
}
#footerLink{
  color: #006eff;
  text-decoration: none;
}
#copyright{
  justify-self: start;
  margin: auto auto auto 10px;
}
#footerLink:hover{
  color: #57a0ff;
  text-decoration: none;
}